html * {
  font-family: Roboto, san-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: auto;
  padding-bottom: auto;
}

.container.button {
  margin: 20px;
}

button {
  font-size: 16px;
}

.user.instruction {
  width: 960px;
  margin: 20px auto;
}

.main.content {
  display: flex;
  flex-direction: column;
  border: 1px solid MediumVioletRed;
}

.row {
  /* height: 10px; */
  /* width: 100%; */
  display: flex;
  flex-direction: row;
}

.col {
  /* height: 8px; */
  /* height: 100%; */
  /* width: 10px; */
  /* border: 1px solid MediumVioletRed; */
}

.black {
  background: black;
}

.white {
  background: white;
}
