html * {
  font-family: Roboto, san-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: auto;
  padding-bottom: auto;
}

.main.content {
  display: flex;
  flex-direction: column;
}

.row {
  height: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.col {
  /* height: 8px; */
  height: 100%;
  width: 8px;
  /* border: 1px solid MediumVioletRed; */
}

.black {
  background: black;
}

.white {
  background: white;
}
